.article-card {
  text-align: center;
  .ant-col {
    display: flex;
    .ant-card {
      width: 100%;
      border: none;
      background: transparent;
      @media (min-width: 992px) {
        background: #f8f8f8;
      }
      .ant-card-head {
        border: none;
        color: #858585;
        font-family: var(--font-body);
        font-size: 12px;
        font-weight: 600;
        min-height: 24px;
      }
      .ant-card-body {
        padding: 0px 24px 16px 24px;
        font-weight: 600;
        font-family: var(--font-body);
        font-size: 14px;
        li {
          margin: 4px 0px;
        }
      }
    }
  }
  @media (max-width: 991.9px) {
    .ant-card {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-card-head,
    .ant-card-body {
      flex-shrink: 0;
      padding: 0 0.25rem 0 !important;
      @media (max-width: 767.9px) {
        font-size: 12px;
      }
    }
    .ant-card-head {
      min-height: auto;
    }
    .ant-card-body {
      max-width: calc(100% - 50px);
      display: flex;
      flex-wrap: wrap;
      white-space: nowrap;
    }
    .ant-card-head-title {
      padding: 0;
    }
  }
}
.content-x-overflow-hidden .simplebar-content{
  overflow-x: hidden;
}