body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #292D32;
}

.ant-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.ant-btn.cancel {
  background-color: rgba(26, 26, 24, 0.15) !important;
  color: var(--gray) !important;
}

.ant-btn.white {
  background-color: rgba(0, 0, 0) !important;
  color: var(--gray) !important;
}

.ant-form-vertical {
  .ant-form-item-label {
    padding-bottom: 0 !important;
  }
  .ant-form-item {
    margin-bottom: 0.5rem !important;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal-header {
  border-bottom: 1px solid var(--gray);
}

.ant-modal-body {
  background-color: #f3f3f3;
  padding-bottom: 5px;
  @media (min-width: 992px) {
    min-width: 400px;
  }
}

.ant-modal-confirm-title {
  @media (min-width: 992px) {
    max-width: 330px;
  }
}

.ant-modal-footer {
  padding: 10px 32px 30px !important;
  background-color: #f3f3f3;
}

.ant-modal-confirm-body {
  @media (min-width: 992px) {
    // min-width: 400px;
  }
}

label.ant-form-item-required {
  &::before {
    display: none;
  }
}

.ant-form-item-optional {
  display: none !important;
}

.ant-menu-submenu {
  padding: 0;
}

.ant-modal-mask,
.ant-modal-wrap {
  z-index: 1100;
}

.ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  border-color: var(--navy);
  background-color: var(--navy);
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--navy);
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child,
.ant-radio-checked .ant-radio-inner {
  border-color: var(--navy);
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  &:hover {
    border-color: var(--light-navy);
    &::before {
      border-color: var(--light-navy);
    }
  }
  &::before {
    background-color: var(--navy);
  }
  &.ant-radio-button-wrapper:first-child {
    &:hover {
      border-color: var(--light-navy);
    }
    border-color: var(--navy);
  }
}

.ant-picker-cell-inner::before {
  border-color: rgb(41, 99, 126) !important;
}

.ant-picker-header-view button:hover {
  color: var(--navy);
}

.ant-btn-primary,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-radio-inner::after {
  background-color: var(--navy);
  border-color: var(--navy);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: var(--navy);
}

.ant-message {
  z-index: 1110;
  .ant-message-notice {
    .ant-message-notice-content {
      .ant-message-custom-content {
        display: flex;
      }
    }
  }
}
.ant-picker-dropdown {
  z-index: 1100;
}
.ant-picker {
  border-color: var(--gray);
}
.ant-picker-datetime-panel .ant-picker-date-panel {
  order: 2;
}
.ant-picker-datetime-panel .ant-picker-time-panel {
  order: 1;
}

.dropdown .ant-menu-submenu.ant-menu-submenu-open {
  display: none !important;
}

.image-bg-white {
  img {
    background: white !important;
    mix-blend-mode: multiply;
  }
}

.ant-avatar {
  img {
    filter: brightness(0.965);
  }
}

.ant-drawer-close {
  margin: 4px -2px 0 auto;
  transform: scale(1.15);
}

.ant-menu-submenu.menu-talent {
  @media (min-width: 992px) {
    z-index: 1110;
    position: fixed;
  }
}

.ant-back-top {
  right: 32px;
  bottom: 32px;
}

.menu-bar-mobile {
  .simplebar-content {
    height: 100%;
  }
}

.unActivedReaction {
  color: rgba(26, 24, 24, 0.6);
  .path-bg-round {
    fill: transparent;
  }
  .path-border {
    fill: rgba(26, 24, 24, 0.6);
  }
}
.activedReaction {
  color: #1b86e9;
}

@media (min-width: 1200px) {
  .ant-menu-submenu.menu-talent {
    width: 1100px;
    margin-left: calc((100vw - 1100px) / 2);
  }
}

@media (min-width: 1400px) {
  .ant-menu-submenu.menu-talent {
    width: 1160px;
    margin-left: calc((100vw - 1160px) / 2);
  }
}

.StripeElement {
  transition: all 0.15s ease-in;
  display: block;
  opacity: 1;
  border: 1px solid #4b5563;
  border-radius: 2px;
  outline: 0;
  color: #000;
  padding: 8px;
  font-size: 14px;
  height: 32px;
  &--focus {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

.ant-steps-dot .ant-steps-item-tail::after,
.ant-steps-dot.ant-steps-small .ant-steps-item-tail::after {
  height: 2px;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: var(--gray);
}
.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  border-width: 1px;
  border-color: var(--gray);
  background-color: var(--gray);
}

.ant-avatar.ant-avatar-icon {
  > .anticon {
    vertical-align: 0.125em;
  }
}

.user-reaction-list {
  .ant-dropdown-arrow {
    background: rgb(72 70 70) !important;
    &::before {
      background: rgb(72 70 70) !important;
    }
  }
}

#scrollableDiv {
  &:hover {
    &::-webkit-scrollbar-thumb {
      transition: all 1s linear;
      background-color: #7a7a7a;
    }
  }

  &::-webkit-scrollbar {
    transition: all 1s linear;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: all 1s linear;
    background-color: transparent;
  }
}
.ant-menu-horizontal, .nav-bar .ant-menu-inline{
  border:0px!important;
  background-color: transparent!important;
}
.ant-menu-item{
  top:0!important;
  margin-top: 0!important;
}
.ant-menu-submenu::after,.ant-menu-item::after{
  border-color: #fff!important;
  transform: scale(0);
  transform-origin: center;
  transition: 0.3s;
  bottom: 5px!important;
}
.ant-menu-submenu::after{
 right: 46px!important;
}
.ant-menu-submenu:hover,.ant-menu-submenu-active {
  .ant-menu-submenu-title .ant-menu-title-content a{
    color: #fff!important;
  }
}

.ant-menu-submenu-inline:hover,.ant-menu-submenu-inline.ant-menu-submenu-active {
  .ant-menu-submenu-title .ant-menu-title-content a{
    color: var(--navy)!important;
  }
}
.ant-menu-submenu-popup .ant-menu-item-only-child:hover,.ant-menu-inline .ant-menu-item-only-child:hover{
  background-color: #1b85e923;
  span{
    color: var(--navy)!important;
  }
}

.ant-menu-item-selected::after,.ant-menu-item-active::after,
.ant-menu-item:hover::after,.ant-menu-submenu:hover::after,
.ant-menu-submenu-selected::after{
  transform: scale(1);
  transition: 0.3s;
}
.ant-menu-item-selected a,.ant-menu-submenu-selected a{
  color: #fff!important;
}
.ant-menu-sub .ant-menu-item-selected a{
  color: var(--navy)!important;
}
.ant-form-item-explain-error{
  font-size: 0.75rem!important;
  margin-top: 0.25rem ;
}
.ant-rate .ant-rate-star{
  margin-right: 4px;
}
.ant-form-item-label > label {
  line-height: 3rem;
  font-weight: 600;
  color: var(--font-color);
}

.ant-form-item-explain-error {
  font-size: 12px !important;
  margin-left: 2px;
  padding-top: 4px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,.ant-tabs-tab:hover{
  color: var( --primary-hover);
}
.ant-tabs-ink-bar{
  display: none;
}
.ant-message{
  transform: translateX(-50%);
  left: 50%;
  max-width: 80vw;
}
.ant-menu.ant-menu-horizontal:not(.ant-menu-dark) >.ant-menu-submenu .ant-menu-submenu.ant-menu-submenu-popup .ant-menu.ant-menu-vertical .ant-menu-item.ant-menu-item-selected, .ant-menu-item:hover,.ant-menu-submenu-popup .ant-menu-item-only-child:hover, .ant-menu-inline .ant-menu-item-only-child:hover,.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover, .ant-dropdown-menu-item.ant-dropdown-menu-item-active, .ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active, .ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active, .ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active{
  background-color: var(--primary-transparent-200);
  span a{
    color: var(--primary);
  }
}
.ant-menu-submenu-popup .ant-menu-item-only-child:hover, .ant-menu-inline .ant-menu-item-only-child:hover{
  background-color: var(--primary-transparent-200);
}
.ant-image-preview-mask{
    z-index: 1101;
}
.ant-image-preview-wrap{
  z-index: 1102;
  img.ant-image-preview-img{
    margin: auto;
    transform: scale3d(1, 1, 1) rotate(0deg) translateY(-50%)!important;
  }
}