:root {
  --navy: #203864;
  --gray: #1a1818;
  --gray-400: #C4C4C4;
  --lighter-gray: #000000d9;
  --light-gray: #f2f1ef;
  --light-gray-2: #dadada;
  --light-gray-3: #f4f4f4;
  --light-gray-4: #808080;
  --light-gray-5: rgba(26, 26, 24, 0.15);
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --red-error: #ea1244;
  --warning: #ffc107;
  --success: #28a745;
  --light-navy: #3888ad;
}
