@import 'simplebar-react/dist/simplebar.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-all-edges {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
}
.ant-modal-wrap::-webkit-scrollbar,
.ant-form .ant-row.ant-form-item .ant-select .ant-select-dropdown::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

.ant-modal-wrap::-webkit-scrollbar-track,
.ant-form .ant-row.ant-form-item .ant-select .ant-select-dropdown::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  /* border-radius: 6px; */
}

.ant-modal-wrap::-webkit-scrollbar-thumb,
.ant-form .ant-row.ant-form-item .ant-select .ant-select-dropdown::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  /* border-radius: 6px; */
  background: #203864;
}


.anticon {
  vertical-align: 0.1em;
}

.video-react .video-react-big-play-button {
  top: 41% !important;
  left: 41% !important;
}
.rounded-circle{
  border-radius: 50%;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2'),
      url('/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
      url('/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
      url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
